<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targets="navbar" aria-controls="navbar" aria-expanded="false" aria-labeel="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar">
      <a class="navbar-brand" href="javascript:void(0)">To Do List</a>
      <ul class="navbar-nav me-auto mb-2 mb-1g-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/tasktodo']" routerLinkActive="active">Task To Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/completed']" routerLinkActive="active">Completed</a>
        </li>
      </ul>
    </div>
    </div>
</nav>
